* {
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #000000;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 1.8rem 4.5rem;
}

.button {
    max-width: 13.5rem;
    max-height: 4.2rem;
    padding: 1rem;
    background-color: #5222D0;
    color: white;
    text-transform: uppercase;
    text-align: center;
    justify-items: center;
    border-radius: 5em;
}

.button__text {
    justify-self: center;
    font-weight: 700;
}

.button__image {
    padding-left: .5rem;
    max-width: 70%;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 4rem;
}

.container__title {
    margin: 0 2rem;
    font-weight: 700;
    text-transform: uppercase; 
    font-size: 4rem;
}

.container__blocks {
    display: flex;
    justify-content: space-around;
}

    .block {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.65rem;
    gap: 1rem;
    }

.block__image {
    display: flex;
    justify-content: center;
}

.image__item {
    margin: 1.1rem;
    width: 298px;
    height: 255px;
    z-index: 2;
}

.image__background {
    position: absolute;
    width: 365px;
    height: 233px;
    background-color: #EC615B;
    z-index: 1;
}

.block__title {
    text-transform: uppercase;
    margin: .4rem 0;
}

.block__title_white {
color: white;
}

.block__text {
    margin: .5rem 0;
    height: 7rem;
}

.subscribe {
    width: 365px;
    height: 233px;
    padding: 1rem;
    background-color: #EC615B;
    z-index: 1;
}

.subscribe__contact {
margin-bottom: 2rem;
}

.navigation {
    display: flex;
    justify-content: space-around;
    max-width: 50%;
}

.navigation__item {
    display: block;
    cursor: pointer;
}
